<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Display page</title>
    <!-- Basic page styling -->
    <!--<link rel="stylesheet" type="text/css" href="base.css">-->
    <!-- User styling -->
    <!--<link rel="stylesheet" type="text/css" href="style.css">-->
</head>
<body>
   <script src="styles.js"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">

    <div class="hero" id="top">
        <div class="hero-image"></div>
        <h1>Explore!<br>
            <font size="6" face="Bradley Hand ITC"><b>~Live Young and Wild and Free~</b></font></h1>
        <!-- Add Get Started Button -->
        <!--<button id= onclick="redirectToForm()">Get Started</button>-->
       
    </div>
    <div class="navbar-wrapper">
        <nav>
            <div class="content">
                <ul>
                    
                </ul>
                <ul class="right">
                    <!-- <li><a href="https://codepen.io/tnmaysharma/full/PNLXBR/"><p>Log in</p></a></li>
                    <li class="action-item"><a href="https://codepen.io/tnmaysharma/full/PNLXBR/"><p>Sign up</p></a></li> -->
                </ul>
            </div>
        </nav>
    </div>
    <section id="vision">
        <div class="content">
            <button class="custom-btn btn-13" onclick="redirectToForm()">Get Started</button>
            <h1></h1>
            <p></p>
            <p></p>
        </div>
    </section>
    <section id="product">
        <div class="content">
        </div>
    </section>
    <section id="team">
        <div class="content">
        </div>
    </section>
    <footer>
        <p><a href="#">IT208:DMS Project </a></p>
    </footer>
    <!-- jQuery -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>-->
    <!-- User scripts -->
    <script type="text/javascript" src="script.js"></script>

    <!-- JavaScript to redirect to the form page -->
    <script>
        function redirectToForm() {
            window.location.href = "form"; // Replace with the actual URL of your form page
        }
    </script>
</body>
</html>
