<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_1e177e82cee6656d752d163d60f64ab8 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_1e177e82cee6656d752d163d60f64ab8" ></div>
        
</body>
<script>
    
    
            var map_1e177e82cee6656d752d163d60f64ab8 = L.map(
                "map_1e177e82cee6656d752d163d60f64ab8",
                {
                    center: [10.84808375, 66.3238175],
                    crs: L.CRS.EPSG3857,
                    zoom: 5,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_e19085756bebf8214b06caa1780664c9 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
                tile_layer_e19085756bebf8214b06caa1780664c9.addTo(map_1e177e82cee6656d752d163d60f64ab8);
    
            var marker_a3cfcb56eb58bbbdd775012bc89c792b = L.marker(
                [13.0108, 74.7943],
                {}
            ).addTo(map_1e177e82cee6656d752d163d60f64ab8);
        
    
        var popup_024df28ca9948a70ea725cbda23cc102 = L.popup({"maxWidth": 300});

        
            
                var html_8549434841d73627feed55843eeb53ca = $(`<div id="html_8549434841d73627feed55843eeb53ca" style="width: 100.0%; height: 100.0%;"><h4>NITK</h4><p>National Institute of Technology Karnataka (NITK), also known as NITK Surathkal, formerly known as Karnataka Regional Engineering College (KREC), is a public technical university at Surathkal, Mangalu</p><p><b>Weather</b>: Mist +26°C ↖6km/h 1015hPa</p><img src="https://upload.wikimedia.org/wikipedia/commons/4/4f/FF18.jpg" alt="NITK" style="width:100%;height:auto;"><img src="https://upload.wikimedia.org/wikipedia/commons/8/88/Mega_hostel_block_in_NITK.jpg" alt="NITK" style="width:100%;height:auto;"></div>`)[0];
                popup_024df28ca9948a70ea725cbda23cc102.setContent(html_8549434841d73627feed55843eeb53ca);
            
        

        marker_a3cfcb56eb58bbbdd775012bc89c792b.bindPopup(popup_024df28ca9948a70ea725cbda23cc102)
        ;

        
    
    
            var marker_16630e94718aa8efd6231b52447bf1f6 = L.marker(
                [14.2004, 74.7922],
                {}
            ).addTo(map_1e177e82cee6656d752d163d60f64ab8);
        
    
        var popup_4f23675ff6687d054a54a520cfc18ed5 = L.popup({"maxWidth": 300});

        
            
                var html_5a40965e688bad32ee4966718a63371e = $(`<div id="html_5a40965e688bad32ee4966718a63371e" style="width: 100.0%; height: 100.0%;"><h4>Jog Falls</h4><p>Jog Falls is a waterfall on the Sharavati river located in Sagara taluk, Shivamogga District and its view point located in Shimoga district of Karnataka, India. It is the second highest plunge waterfa</p><p><b>Weather</b>: Sunny +24°C ↖11km/h 1013hPa</p><img src="https://upload.wikimedia.org/wikipedia/commons/f/f5/Jog_Falls_05092016.jpg" alt="Jog Falls" style="width:100%;height:auto;"><img src="https://upload.wikimedia.org/wikipedia/commons/7/79/Jog_Roarer.JPG" alt="Jog Falls" style="width:100%;height:auto;"></div>`)[0];
                popup_4f23675ff6687d054a54a520cfc18ed5.setContent(html_5a40965e688bad32ee4966718a63371e);
            
        

        marker_16630e94718aa8efd6231b52447bf1f6.bindPopup(popup_4f23675ff6687d054a54a520cfc18ed5)
        ;

        
    
    
            var marker_00e407459d373de3ae518810a061970f = L.marker(
                [12.35804, 76.46497],
                {}
            ).addTo(map_1e177e82cee6656d752d163d60f64ab8);
        
    
        var popup_d3d119f60d7d93523967cb82909d3e5c = L.popup({"maxWidth": 300});

        
            
                var html_47cc02a523d4644402388dd4106d0197 = $(`<div id="html_47cc02a523d4644402388dd4106d0197" style="width: 100.0%; height: 100.0%;"><h4>Halebidu</h4><p>Halebidu (IAST: Haḷēbīḍ, literally "old capital, city, encampment" or "ruined city") is a town located in Hassan District, Karnataka, India. Historically known as Dwarasamudra (also Dorasamudra), Hale</p><p><b>Weather</b>: Sunny +24°C ↖8km/h 1016hPa</p><img src="https://upload.wikimedia.org/wikipedia/commons/c/ca/1150_CE_Hoysaleswara_temple_Halebidu_Karnataka%2C_Inscription%2C_North_Indian_and_South_Indian_scripts.jpg" alt="Halebidu" style="width:100%;height:auto;"><img src="https://upload.wikimedia.org/wikipedia/commons/3/3a/12th-century_Ganesha_outside_Shaivism_Hindu_temple_Hoysaleswara_arts_Halebidu_Karnataka_India.jpg" alt="Halebidu" style="width:100%;height:auto;"></div>`)[0];
                popup_d3d119f60d7d93523967cb82909d3e5c.setContent(html_47cc02a523d4644402388dd4106d0197);
            
        

        marker_00e407459d373de3ae518810a061970f.bindPopup(popup_d3d119f60d7d93523967cb82909d3e5c)
        ;

        
    
    
            var marker_4b1c3e4b8a1eb66a0e9df4e92f471e9f = L.marker(
                [12.41709, 76.68344],
                {}
            ).addTo(map_1e177e82cee6656d752d163d60f64ab8);
        
    
        var popup_6b927c1cff3996c6f9893dd3be5013b3 = L.popup({"maxWidth": 300});

        
            
                var html_b8c07a7de805505cac64d61e45bdc318 = $(`<div id="html_b8c07a7de805505cac64d61e45bdc318" style="width: 100.0%; height: 100.0%;"><h4>Srirangapatna</h4><p>Srirangapatna is a town and headquarters of one of the seven Taluks of Mandya district, in the Indian State of Karnataka. It gets its name from the Ranganthaswamy temple consecrated around 984 CE. Lat</p><p><b>Weather</b>: Sunny +24°C ↖11km/h 1013hPa</p><img src="https://upload.wikimedia.org/wikipedia/commons/b/b7/Om_symbol.svg" alt="Srirangapatna" style="width:100%;height:auto;"><img src="https://upload.wikimedia.org/wikipedia/commons/5/50/Anjeneya_temple._Wellesley_Bridge.jpg" alt="Srirangapatna" style="width:100%;height:auto;"></div>`)[0];
                popup_6b927c1cff3996c6f9893dd3be5013b3.setContent(html_b8c07a7de805505cac64d61e45bdc318);
            
        

        marker_4b1c3e4b8a1eb66a0e9df4e92f471e9f.bindPopup(popup_6b927c1cff3996c6f9893dd3be5013b3)
        ;

        
    
    
            var marker_6271c4ee164540e511828a46ab6a54b1 = L.marker(
                [11.50244, 76.49153],
                {}
            ).addTo(map_1e177e82cee6656d752d163d60f64ab8);
        
    
        var popup_88a0f7f4b23eac37bc5d250034a0e864 = L.popup({"maxWidth": 300});

        
            
                var html_5d957d07b5238b8502c4141aa5302c0e = $(`<div id="html_5d957d07b5238b8502c4141aa5302c0e" style="width: 100.0%; height: 100.0%;"><h4>Gudalur</h4><p>Gudalur is a municipality and taluk in Nilgiris district in the Indian state of Tamil Nadu.</p><p><b>Weather</b>: Sunny +22°C ←4km/h 1017hPa</p><img src="https://upload.wikimedia.org/wikipedia/commons/f/f6/India_Tamil_Nadu_location_map.svg" alt="Gudalur" style="width:100%;height:auto;"><img src="https://upload.wikimedia.org/wikipedia/commons/f/f9/Malabar_1854.jpg" alt="Gudalur" style="width:100%;height:auto;"></div>`)[0];
                popup_88a0f7f4b23eac37bc5d250034a0e864.setContent(html_5d957d07b5238b8502c4141aa5302c0e);
            
        

        marker_6271c4ee164540e511828a46ab6a54b1.bindPopup(popup_88a0f7f4b23eac37bc5d250034a0e864)
        ;

        
    
    
            var marker_a1245d5c2b20523c570bdb435c2bbd6f = L.marker(
                [10.2851, 76.5698],
                {}
            ).addTo(map_1e177e82cee6656d752d163d60f64ab8);
        
    
        var popup_ec6d5868e75fabfd5d0d444decde0749 = L.popup({"maxWidth": 300});

        
            
                var html_80de59b9a5a9278cbff6a82cafaeedc7 = $(`<div id="html_80de59b9a5a9278cbff6a82cafaeedc7" style="width: 100.0%; height: 100.0%;"><h4>Athirapally Falls</h4><p>Athirappilly is a first grade Grama Panchayath with 489.00 km2 area in Chalakudy Taluk, Thrissur district in Kerala, India. It is located 60 km from Thrissur city, 70 km northeast of Kochi city, 55 km</p><p><b>Weather</b>: Sunny +24°C ↖11km/h 1013hPa</p><img src="https://upload.wikimedia.org/wikipedia/commons/4/4a/Athirappilly_Waterfalls_1.jpg" alt="Athirapally Falls" style="width:100%;height:auto;"><img src="https://upload.wikimedia.org/wikipedia/commons/6/6c/India_Kerala_location_map.svg" alt="Athirapally Falls" style="width:100%;height:auto;"></div>`)[0];
                popup_ec6d5868e75fabfd5d0d444decde0749.setContent(html_80de59b9a5a9278cbff6a82cafaeedc7);
            
        

        marker_a1245d5c2b20523c570bdb435c2bbd6f.bindPopup(popup_ec6d5868e75fabfd5d0d444decde0749)
        ;

        
    
    
            var marker_6c2b6a02ac979307a17c98fc4b720bfe = L.marker(
                [13.0108, 74.7943],
                {}
            ).addTo(map_1e177e82cee6656d752d163d60f64ab8);
        
    
        var popup_411990f2aedddccf0e2c566cea8f67ad = L.popup({"maxWidth": 300});

        
            
                var html_d7661cae18c4a2263e8d5781c51d2c91 = $(`<div id="html_d7661cae18c4a2263e8d5781c51d2c91" style="width: 100.0%; height: 100.0%;"><h4>NITK</h4><p>National Institute of Technology Karnataka (NITK), also known as NITK Surathkal, formerly known as Karnataka Regional Engineering College (KREC), is a public technical university at Surathkal, Mangalu</p><p><b>Weather</b>: Mist +26°C ↖6km/h 1015hPa</p><img src="https://upload.wikimedia.org/wikipedia/commons/4/4f/FF18.jpg" alt="NITK" style="width:100%;height:auto;"><img src="https://upload.wikimedia.org/wikipedia/commons/8/88/Mega_hostel_block_in_NITK.jpg" alt="NITK" style="width:100%;height:auto;"></div>`)[0];
                popup_411990f2aedddccf0e2c566cea8f67ad.setContent(html_d7661cae18c4a2263e8d5781c51d2c91);
            
        

        marker_6c2b6a02ac979307a17c98fc4b720bfe.bindPopup(popup_411990f2aedddccf0e2c566cea8f67ad)
        ;

        
    
    
            var poly_line_6a5fa53505e443c1431b300adc6e47b4 = L.polyline(
                [[13.0108, 74.7943], [14.2004, 74.7922], [12.35804, 76.46497], [12.41709, 76.68344], [11.50244, 76.49153], [10.2851, 76.5698], [13.0108, 74.7943]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": "10, 5", "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 2.5}
            ).addTo(map_1e177e82cee6656d752d163d60f64ab8);
        
    
            var layer_control_d9d7592c4e52eb9e63365c59d9816473_layers = {
                base_layers : {
                    "openstreetmap" : tile_layer_e19085756bebf8214b06caa1780664c9,
                },
                overlays :  {
                },
            };
            let layer_control_d9d7592c4e52eb9e63365c59d9816473 = L.control.layers(
                layer_control_d9d7592c4e52eb9e63365c59d9816473_layers.base_layers,
                layer_control_d9d7592c4e52eb9e63365c59d9816473_layers.overlays,
                {"autoZIndex": true, "collapsed": true, "position": "topright"}
            ).addTo(map_1e177e82cee6656d752d163d60f64ab8);

        
</script>
</html>